@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url(../Authentication/css/auth.css);

:root {
  --clr-brown: 155, 122, 80;
  --clr-cream: #ffe4c6;
  --clr-linen: #fff4e8;
  --clr-bg: #fbf5f3;
  --clr-yellow-tint: ##f5f0e1;
}
/* reset CSS*/
* {
  box-sizing: border-box;
}
body,h1,h2,h3,h4,figure,picture,p {
  margin: 0;
}
h1,h2,h3,h4,p {
  font-weight: 400;
}

body {
  background-color: var(--clr-linen);
  line-height: 1.5;
  min-height: 100vh;
  margin-inline: auto;
  font-family: "Roboto", sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}

.ff-title {
  font-family: "Pacifico", cursive;
}
.ff-title a{
  text-decoration: none;
}

.bg-brown {
  background-color: rgb(var(--clr-brown)) !important;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
}
.navbar ul {
  list-style: none;
}

.nav-options li {
  opacity: 0.7;
}
.nav-options li:hover {
  opacity: 1;
}

.nav-icons {
  display: flex;
}
.nav-icons a{
  text-decoration: none;
}
.text-brown {
  color: rgb(var(--clr-brown));
}
.nav-input {
  padding: 0.5rem 1rem;
  background-color: var(--clr-white);
  line-height: 1.25;
  width: 100%;
  border-radius: 10px;
  appearance: none;
  border: 2px solid var(--clr-gray);
  order: 2;
}
.nav-input:focus {
  outline: none;
  border: 2px solid rgb(var(--clr-brown));
}
.home-banner {
  display: flex;
  justify-content: center;
  max-width: 30rem;
  margin-inline: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
}

.home-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem auto;
}

.product-details {
  border-top: 1px solid rgba(var(--clr-brown), 0.3);
}
.cart-icon {
  background-color: rgb(var(--clr-brown));
}
.h-card {
  padding: 0.5rem !important;
}

@media (min-width: 768px) {
  .nav-input {
    order: 0;
    width: 33%;
  }
  .navbar {
    flex-wrap: nowrap;
  }
  .banner-img {
    max-width: 80vw;
  }
  .product-img {
    width: 15rem;
    height: 12rem;
  }
  .home-cards {
    gap: 2rem;
  }
  .h-card {
    flex-direction: row;
    padding: 2rem !important;
  }
}
